<section>
	<div class="wrapper">
        <p class="header-links">

            <a routerLink="''">Home</a>
            ·
            <a routerLink="/topTvToday" target="_blank">Top TV Shows</a>
            ·
            <a routerLink="/topMoviesToday">Top Movies</a>
            ·
            <a href="https://github.com/kyledavis109" target="_blank">Github</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">Faq</a>
            ·
            <a href="#">Contact</a>

        </p>
        <br>
	 <h1 class="alpha lato thin thick-header-line uppercase ls-small">
		Angular Movie App
		</h1>
		<!-- <p class="mega open-sans bold uppercase">
		This shouldn't be<br> so difficult 
		</p> -->
	 </div>
	</section>