<ng-template *ngFor="let tv of tvShows" [ngIf]="hasRoute('/topTvToday')">

    <div class="container">

        <app-display-tile [id]="tv.id" [title]="tv.name" [imageUrl]="imageBaseUrl + tv.poster_path"></app-display-tile>
        
    </div>

</ng-template>


<ng-template *ngFor="let movie of movies" [ngIf]="hasRoute('/topMoviesToday')">

    <div class="container">
        
        <app-display-tile [id]="movie.id" [title]="movie.title" [imageUrl]="imageBaseUrl + movie.poster_path"></app-display-tile>

    </div>

</ng-template>

<ng-template *ngFor="let result of searchResults" [ngIf]="hasRoute('')">

    <div class="container">
        
        <app-display-tile [id]="result.id" [title]="result.title" [imageUrl]="imageBaseUrl + result.poster_path"></app-display-tile>

    </div>

</ng-template>

