a {
    color: white;
    font-size: 10px;
}

.img_img {
    border: 2px solid black;
    border-radius: 5%;
    /* height: 100%;
    width: 100%; */
}

.img_container {
    display: flex;
    padding: 5px;
    padding-top: 50px;
}

/* 
div > p {
    display: none;
}

div:hover +  p {
    display: block;
} */