p {
    color: white;
    font-size: 10px;
}

.img_img {
    border: 2px solid white;
}

.img_container {
    display: inline-flex;
    padding: 5px;
    padding-top: 50px;
}

/* 
.img__container > p {
    display: none;
}

.img__img:hover +  p {
    display: block;
} */