<div class="center">
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="animate_character">Angular Media App</h3>
          </div>
        </div>
    </div>
    <br>
    <div class="center-screen">

        <input class="inputBox" placeholder="Search...">
        <!-- <app-button color="green" text="search" (btnClick)="searchInput()"></app-button> -->
      <app-search-input></app-search-input>
    </div>
    <!-- <app-button text="Search" color="green"></app-button> -->
</div>
