<div class="center">
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="animate_character">Angular Media App</h3>
          </div>
        </div>
    </div>
    <br>
    <!-- <div class="center-screen">
        <input class="inputBox" placeholder="Search..." [(ngModel)]="searchStr" name="searchStr" type="search" (keyup.enter)="searchMovies()">
        <app-button color="green" text="search" (btnClick)="searchMovies()"></app-button>
        <p>{{ searchStr }}</p>
    </div> -->
</div>
